@use "../../abstracts/variables" as *;

@media screen and (min-width: 325px) {
   .hero--container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      padding: 7.813rem 1rem 0;
      background-color: $primary-500;
   }

   .hero--card-container {
      height: 100vh;
   }

   .hero--card {
      position: relative;
      min-width: 17.313rem;
      aspect-ratio: 277 / 320; 
      background-color: red;
      overflow: hidden;
   }

   .hero--card-img {
      z-index: 1;
      min-width: 17.313rem;
      width: 100%;
      min-height: 20rem;
      height: auto;
     object-fit: cover;
   }

   .hero--card-text-box {
      z-index: 3;
      position: absolute;
      top: 0;      
   }
}