// Primary
$primary-400: #A800FF;
$primary-500: #9B00F5;
$primary-600: #00DCFF;

// Shades
$achromatic-100: #FFFFFF;
$achromatic-200: #FDF9FF;
$achromatic-600: #C7C7C7;
$achromatic-700: #888888;
$achromatic-800: #242424;
$achromatic-900: #000000;