@use "./base/animations";
@use "./base/base";
@use "./base/typography";
@use "./base/utils";

@use "./abstracts/functions";
@use "./abstracts/mixins";
@use "./abstracts/variables";

@use "./components/navbar/navbar-sheet";

@use "./components/hero/hero-sheet";

@use "./components/shared/preview-card";

@use "./pages/home/home-sheet";

@media screen and (min-width: 325px) {
   .app--container {
      transition: padding-right 0.3s ease;

      &.app--padding {
         padding-right: 10px;
      }

      &.no--padding {
         padding-left: 0;
      }
   }
}