@use "../../abstracts/variables" as *;

@media screen and (min-width: 325px) {
   .nav--container {
      z-index: 1000;
      position: fixed;
      top: 0;
      display: flex;
      align-items: center;
      height: 4.25rem;
      width: calc(100vw - 10px);
      color: $achromatic-100;
      background-color: $achromatic-800;
   }
   
   .nav--case {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 4rem;
      margin: 0 1rem;
      padding: 0.75rem 0;
   }

   .nav--list {
      display: none;
   }

   .nav--utilities {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      width: 11.7325rem;
   }

   .nav--auth-container {
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 2rem;
      height: 2.625rem;
      justify-content: center;
      width: 6rem;
   }

   .nav--auth-container:hover {
      background-color: $achromatic-100;
      color: $achromatic-800;
      cursor: pointer;
   }
   
   .nav--search-container {
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 2.625rem;
      height: 100%;
   }
   
   .nav--search-container:hover {
      border-radius: 3rem;
      border: 0.115rem solid $achromatic-100;
      cursor: pointer;
   }

   .nav--menu-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.625rem;
      height: 100%;
   }

   .nav--menu-container:hover {
      border-radius: 3rem;
      border: 0.115rem solid $achromatic-100;
      cursor: pointer;
   }
}

@media screen and (min-width: 768px) {
   .nav--case {
      margin: 0 2rem;
   }
}

@media screen and (min-width: 1025px) {
   .nav--list {
      display: flex;
      align-items: center;
      gap: 1rem;
   }

   .nav--list-item:hover {
      color: $secondary-500;
      border-bottom: 0.15rem solid $secondary-500;
      cursor: pointer;
   }

   .nav--logo {
      display: none;
   }
}