@use "../abstracts/variables" as *;

*, *::before, *::after {
   box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root, html, body {
	width: calc(100vw - 10px);
}

:root {
	font-size: 16px; 
}

html {
	font-family: "Inter", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 16px;
	margin-block-start: 0;
	margin-block-end: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
   box-sizing: border-box;
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: $achromatic-700;
 }

::-webkit-scrollbar-thumb {
	background-color: $achromatic-600; 
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	margin-block-start: 0;
	margin-block-end: 0;
}

#root, #__next {
	isolation: isolate;
}

input[type="number"] {
   -webkit-appearance: none; 
   appearance: none; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
	appearance: none;
}