@use "../abstracts/variables" as *;

@media screen and (min-width: 325px) {
   .nav--logo {
      font-size: 1.92rem;
      margin: auto 0;
   }

   .nav--auth-greeting {
      font-size: 0.7rem;
   }

   .preview--card-text-box {
      color: $achromatic-100;
   }

   .preview--card-text-box > h1 {
      font-weight: 600;
   }

   .preview--card-category {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
   }

   .preview--card-details {
      opacity: 0.9;
      color: $achromatic-600;
   }

   .preview--headline-title {
      color: $achromatic-100;
   }

   .hero--item {
      color: $achromatic-100;
      font-weight: 700;
   }
}