@use "../abstracts/variables" as *;

@media screen and (min-width: 325px) {
   .nav--logo {
      font-size: 1.92rem;
      margin: auto 0;
   }

   .nav--auth-greeting {
      font-size: 0.7rem;
   }

   .preview--card-text-box {
      color: $achromatic-100;
   }

   .preview--card-text-box > h1 {
      font-weight: 600;
   }

   .preview--card-category {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;
   }

   .preview--card-details {
      opacity: 0.9;
      color: $achromatic-600;
   }

   .preview--headline-title {
      color: $achromatic-100;
   }
   
   .hero--headline-case {
      color: $achromatic-100;
      font-weight: 700;
   }
}

@media screen and (min-width: 1025px) {
   .nav--list {
      font-weight: 700;
   }

   .hero--title {
      font-size: 4rem;
      font-weight: 900;
      letter-spacing: 0.6rem;
      color: $achromatic-100;
   }  

   .hero--lead-case h1 {
      font-size: clamp(2.0625rem, 1.4914rem + 2.4365vi, 3.5625rem);;
   }

   .hero--secondary-case h1 {
      font-size: 1.4375rem;
   }
}